.header {
    @include container;

    &__container__nav {
        @include flex-between;

        .menu-toggle {
            display: none;
        }

        .burger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 18px;
            cursor: pointer;

            span {
                height: 2px;
                background-color: $color-secondary;
                border-radius: 2px;
            }
        }
    }

    &__content__nav {
        @include flex-center;
        gap: clamp(1rem, 5vw, 5rem);

        ul {
            display: flex;
            gap: clamp(0.5rem, 2vw, 2rem);
        }

        a {
            transition: color 0.3s ease;

            &:hover {
                color: $text-color-secondary;
            }
        }
    }

    @media (max-width: 768px) {
        .header__container__nav {
            flex-direction: column;
            align-items: flex-start;

            position: relative;
        }

        .burger {
            display: flex;
            margin-left: auto;
            margin-right: 1rem;
            z-index: 2;

            span {
                background: $color-primary;
            }
        }

        .header__content__nav {
            display: none;
            background-color: $color-secondary;
            padding: 1rem;
            flex-direction: column;
            position: absolute;
            top: 60%;
            right: 0;
            gap: 1rem;
            width: 60vw;
            max-width: 300px;
            color: $color-white;
            border-radius: $radius;
            z-index: 1;

            .header__nav ul {
                flex-direction: column;
                width: 100%;

                li>a:hover {
                    color: $color-white;
                }
            }

            a.btn {
                margin: 0 auto;
                padding: 0.5rem;
                font-size: 0.9rem;
            }
        }

        .menu-toggle:checked~.header__content__nav {
            display: flex;
        }
    }
}