.highlight {
    @include container;
    @include flex-wrap;
    gap: $gap-size;

    &__left {
        background-color: $color-secondary;
        border-radius: $radius;
        padding: 1rem;
        @include flex-between;
        flex: 1.6;
        align-items: center;
        gap: $gap-size;

        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
        }

        .highlight__image {
            @include responsive-image;
            width: 160px;
            height: auto;
            border-radius: $radius;
            object-fit: cover;
        }

        .highlight__text__container {
            flex: 1;

            h2,
            p {
                margin-bottom: 1rem;
                color: $color-white;
            }
        }
    }

    &__right {
        flex: 1;
        @include flex-column;
        gap: 1rem;

        .card.small {
            display: flex;
            gap: 1rem;
            color: $text-color-dark;
            border-radius: $radius;
            padding: 1rem;
            background-color: $color-background;

            .card__icon {
                order: 1;
            }
        }

        .card__stat ul {
            @include flex-center;
            text-align: center;

            .card {
                @include card-stats;

                .stat-number {
                    margin-bottom: 0;
                }
            }
        }
    }
}