// ============================================
// VARIABLES
// ============================================

// Colors
$color-primary: #BAF915;
$color-secondary: #224432;
$color-neutral-dark: #021A0D;
$color-neutral-light: #f8fafc;
$color-gray: #6C6C6C;
$color-background: #F6F8FA;
$color-white: #ffffff;
$color-black: #000000;

// Text Colors
$text-color-primary: $color-primary;
$text-color-secondary: $color-secondary;
$text-color-dark: $color-neutral-dark;

// Border
$radius: 10px;

// Font
$font-main: 'DM Sans','Open-Sans', sans-serif;
$font-size-base: 16px;

// Spacing
$spacing: 2rem;
$gap-size: 2rem;